{% extends 'base.html' %}

{% block content %}

<h2>{{ module.title }}</h2>

{% for material in materials %}
    <div style="border:1px solid #ccc; padding:15px; margin:10px;">
        <h4>{{ material.title }}</h4>

        {% if material.content_text %}
            <p>{{ material.content_text }}</p>
        {% endif %}

        {% if material.video_url %}
            <iframe width="560" height="315"
                src="{{ material.video_url }}"
                frameborder="0"
                allowfullscreen>
            </iframe>
        {% endif %}

    </div>
{% empty %}
    <p>No study material available for this module.</p>
{% endfor %}

<br>
<a href="/courses/test/{{ module.id }}/">Take Test →</a>

{% endblock %}